@import "vars.scss";
@import '../components/project.scss';

.row {
  margin: 0px;
}

.col {

}

.makeItCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.topSpace{
  margin-top: 3%;
}

.same {
  background-color: tan;
  font-size: 20px;
}

.different {
  background-color: lightgray;
  font-size: 25px;
}

.column{
    flex-direction: column;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: black; }
}
